@model WebProje.Models.Yol

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Yol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KalkisSehir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KalkisSehir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VarisSehri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VarisSehri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KalkisZaman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KalkisZaman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VarisZaman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VarisZaman)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Admin" asp-action="YolEkle">Back to List</a>
    </form>
</div>
