@model WebProje.Models.Rezervasyon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rezervasyon</h4>
    <hr />
  
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.KoltukNumarasi)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.KoltukNumarasi)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Yol)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Yol.Id)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UcakNavigation)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UcakNavigation.Id)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Yolcu)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Yolcu.Email)
            </dd>
        </dl>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="List">Back to List</a>
</div>
