@model IEnumerable<WebProje.Models.Rezervasyon>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KoltukNumarasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yol.KalkisSehir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yol.VarisSehir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UcakNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yolcu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KoltukNumarasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yol.KalkisSehir.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yol.VarisSehir.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UcakNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yolcu.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
