@model IEnumerable<WebProje.Models.Yol>



<table class="table">
    <thead>
        <tr>
            <th>Kalkış Şehir</th>
            <th>Varış Şehir</th>
            <th>Kalkış Zamanı</th>
            <th>Varış Zamanı</th>
            <th>Fiyat</th>
            <th>Sec</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trip in Model)
        {
            <tr>
                <td>@trip.KalkisSehir.Name</td>
                <td>@trip.VarisSehir.Name</td>
                <td>@trip.KalkisZaman.ToString("g")</td>
                <td>@trip.VarisZaman.ToString("g")</td>
                <td>@trip.Fiyat tl</td>
                <td>
                    <form asp-action="KoltukSec" asp-controller="Rezervasyon" method="post">
                        <input type="hidden" name="yolId" value="@trip.Id" />
                        <input type="submit" value="Select" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>