@model IEnumerable<WebProje.Models.Sehir>

@{
    ViewData["Title"] = "SehirEkle";
}

<h1>SehirEkle</h1>

<p>
    <a asp-controller="Sehir" asp-action="Create">Create New</a>
</p>
@{
    string error = TempData["hata"] as string;
}

@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-warning">@error</h2>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-controller="Sehir" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Sehir" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Sehir" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="AdminSayfasi">Back to List</a>
</div>