@model IEnumerable<WebProje.Models.Sirket>

@{
    ViewData["Title"] = "SirketEkle";
}

<h1>SirketEkle</h1>

<p>
    <a asp-controller="Sirket" asp-action="Create">Create New</a>
</p>
@{
    string error = TempData["hata"] as string;
}

@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-warning">@error</h2>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SirketName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SirketName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SirketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SirketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SirketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
