@model IEnumerable<WebProje.Models.Ucak>

@{
    ViewData["Title"] = "UcakEkle";
    Layout = ViewBag.Layout;

}

<h1>UcakEkle</h1>

<p>
    <a asp-controller="Ucak" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoltukSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sirkets.SirketName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KoltukSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sirkets.SirketName)
            </td>
            <td>
                    <a asp-controller="Ucak" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Ucak" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Ucak" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
